<navbar></navbar>


<!-- hide once weather data is received -->
<div ng-hide="vm.weatherUpdated" class='animate-leave'>
  <header class="hero-unit" id="banner">
    <div class="container">
      <br>
      <br>
      <h1>CONNECTING TO YOUR NEST...</h1>
      <br>
      <br>
      <br>
      <img src="assets/images/nest-home.png" style="width:380px;height:380px;" alt="Nest">
    </div>
  </header>
</div>

<!-- stay hidden until weather data is received -->
<div ng-show="vm.weatherUpdated" class='animate-enter'>
  <h2 class="text-center threed">Weather</h2>
  <div ng-repeat="s in vm.structures">
    <div class="row">

      <!-- NEST API to show HOME/AWAY status -->
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
          <br>
          <br>
          <h1><span class="glyphicon glyphicon-home" style="color:#80d5ff;" aria-hidden="true"></span></h1>
          <h1>{{ s.name }}</h1>
          <h3>HOME/AWAY: {{ s.away }}</h3>
          <br>
          <br>
          <br>
          </div>
        </div>
      </div>

      <!-- Yahoo weather API for current temp -->
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <br>
          <a href="{{vm.weather.link}}">
          <img border="0" alt="yahoo!weather" src="{{vm.weather.image.url}}" width="142" height="18">
          </a>
          <div class="caption">
            <h4>Outside: {{vm.weather.item.condition.temp}}℉ {{vm.weather.item.condition.text}}</h4>
            <ul  class="list-group">
              <li class="list-group-item" >Wind Chill <strong>{{vm.weather.wind.chill}} mph</strong></li>
              <li class="list-group-item" >Humidity <strong>{{vm.weather.atmosphere.humidity}}%</strong></li>
              <li class="list-group-item" >Atmosphere Pressure <strong>{{vm.weather.atmosphere.pressure}}</strong></li>
              <li class="list-group-item" >Sunrise <strong>{{vm.weather.astronomy.sunrise}}</strong> | Sunset <strong>{{vm.weather.astronomy.sunset}}</strong></li>
              <br>
            </ul>
          </div>
        </div>
      </div>

      <!-- Yahoo weather API for 5 Day Forecasts -->
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
          <h3>5 DAY FORECASTS</h3>
          <ul class="list-group">
            <li class="list-group-item text-left" ng-repeat="day in vm.weather.item.forecast"><strong>{{day.day}}</strong> | High {{day.high}}℉ | Low {{day.low}}℉ | <strong>{{day.text}}</strong> </li>
          </ul>
          </div>
        </div>
      </div>

    </div>

    <br>
    <br>

    <div class="row">
      <h2 class="text-center threed">NEST Thermostats</h2>
      <div class="col-sm-4 col-md-4" ng-repeat="t in s.thermostats">
        <div class="thumbnail">
          <img ng-if="t.is_online" align="left" alt="Nest Logo" title="Nest2" src="assets/images/nest_on.png" height="15%" width="15%">
          <img ng-if="!t.is_online" align="left" alt="Nest Logo" title="Nest2" src="assets/images/nest_off.png" height="15%" width="15%">
          <div class="caption">
            <h4>{{ t.name_long }}</h4>
            <br>
            <ul class="list-group">
              <li class="list-group-item" ng-if="t.temperature_scale =='F' ">Current Temp <strong>{{ t.ambient_temperature_f }} ℉</strong></li>
              <li class="list-group-item" ng-if="t.temperature_scale =='C' ">Current Temp <strong>{{ t.ambient_temperature_c }} ℃</strong></li>
              <li class="list-group-item">Humidity <strong>{{ t.humidity }} %</strong></li>
              <li class="list-group-item" ng-if="t.temperature_scale =='F' ">Target Temp <strong>{{ t.target_temperature_f }} ℉</strong></li>
              <li class="list-group-item" ng-if="t.temperature_scale =='C' ">Target Temp <strong>{{ t.target_temperature_c }} ℃</strong></li>
            </ul>
              <form ng-submit="vm.updateThermo(t.device_id, t.newTemp)">
                <input placeholder="Set New Temperature..." ng-if="t.temperature_scale =='F'" ng-model="t.newTemp" ng-pattern="/^\d+$/" name="anim" class="my-input"
                         aria-describedby="inputDescription" />
                <input placeholder="Set New Temperature..." ng-if="t.temperature_scale =='C'" ng-model="t.newTemp" ng-pattern="/^\d+$/" name="anim" class="my-input"
                         aria-describedby="inputDescription" />
                <p ng-if="t.temperature_scale =='C' ">Target Temp: {{ t.target_temperature_c }} ℃</p>
                <input class="btn btn-primary" type="submit" id="submit" value="Submit" />
              </form>

          </div> <!-- caption -->
        </div> <!-- thumbnail -->
      </div> <!-- col-sm-4 -->
    </div> <!-- row -->

    <br>

    <!-- Show all cameras -->
    <div class="row">
      <h2 class="text-center threed">NEST CAMs</h2>
      <div class="col-sm-6 col-md-6" ng-repeat="t in s.cameras">
        <div class="thumbnail">
          <img ng-if="t.is_online" align="left" alt="Nest Cam" title="Nest2" src="assets/images/nest_on.png" height="10%" width="10%">
          <img ng-if="!t.is_online" align="left" alt="Nest Logo" title="Nest2" src="assets/images/nest_off.png" height="10%" width="10%">
          <div class="caption">
            <h4>{{ t.name_long }}</h4>
            <!-- <div ng-include="'https://video.nest.com/live/hlM88w?autoplay=1'"></div> -->
            <iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/hlM88w?autoplay=1" />
            <ul class="list-group">
              <li class="list-group-item">Last Event: <strong>{{ t.last_event.start_time | date:'medium'}}</strong></li>
              <li class="list-group-item">Live Stream: <strong><a target="_blank" ng-href="{{ vm.web_url }}">Connect to NEST CAM</a></strong></li>
              <li class="list-group-item">Online: <strong>{{ t.is_online ? "ON": "OFF"}}</strong></li>
              <li class="list-group-item">Streaming: <strong>{{ t.is_streaming ? "ON": "OFF"}}</strong></li>
              <li class="list-group-item">Audio: <strong>{{ t.is_audio_input_enabled ? "ON": "OFF"}}</strong></li>
            </ul>
          </div> <!-- caption -->
        </div> <!-- thumbnail -->
      </div> <!-- col-sm-4 -->
    </div> <!-- row -->
  </div> <!--  vm.structure -->
</div> <!-- vm.weatherUpdated -->
<!-- {{vm.response}} -->
<footer></footer>
